.greeting {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.greetingTitle {
    color: var(--text-active);
    font-size: 2rem;
}

.contactButtons {
    display: flex;
    /* TODO show this before responsive design */
    /* flex-direction: row; */
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .contactButtons {
        flex-direction: row;
    }
}

.arrowIcon {
    padding-left: 0.5rem;
    transform: translateY(0.05rem);
    transition: transform 0.1s ease;
    /* TODO show issue with layout shift when don't specify size */
    width: 1.25rem;
    height: 0.8rem;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgb(38, 38, 38);
    border-radius: 0.3rem;
    outline: 1px solid rgb(64, 64, 64);
    color: var(--text-active);
}

.linkContainer:hover > .arrowIcon {
    transform: translateY(-0.1rem) translateX(0.1rem);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    /* TODO show this before the responsive version */
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .projectCards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .projectCards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.project {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem 2rem;
    background: rgb(38, 38, 38);
    border-radius: 0.3rem;
    border: 1px solid rgb(64, 64, 64);
    cursor: pointer;
}

.project object {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1rem;
    transition: transform 0.1s ease;
}

.project:hover > object {
    transform: translateY(-0.15rem) translateX(0.15rem);
}

.project h2 {
    color: var(--text-active);
    font-size: 1.3rem;
}
