.guestbookTitle {
    color: var(--text-active);
    font-size: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.guestbookInput {
    margin-top: -0.5rem;
    padding: 0.5rem 1rem;
    background: rgb(38 38 38);
    border-radius: 0.3rem;
    width: min(35rem, 100%);
    border: none;
    outline: 1px solid rgb(64 64 64);
}

.guestbookButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: min(10rem, 100%);
    background: rgb(58 58 58);
    opacity: 0.5;
    border-radius: 0.3rem;
    border: none;
    outline: 1px solid rgb(64 64 64);
    outline: none;
    transition: opacity 0.2s ease;
}

.guestbookButton:hover {
    margin: 0;
    opacity: 0.8;
}

.guestbookComments {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
