.project {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem 2rem;
    background: rgb(38, 38, 38);
    border-radius: 0.3rem;
    border: 1px solid rgb(64, 64, 64);
    cursor: pointer;
}

.project object {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1rem;
    transition: transform 0.1s ease;
}

.project:hover > object {
    transform: translateY(-0.15rem) translateX(0.15rem);
}

.project h2 {
    color: var(--text-active);
    font-size: 1.3rem;
}
